
.mainNav , 
{
    /* position: fixed !important; */
    width: 100% ;
}
.pink-color
{
    color: #e13ed7;
}
 .logo
{
 color: white;
 font-size:50px;
 font-family: 'Alex Brush';
} 
.navbar-header .logo
{
 color: black;
 font-size:35px;
 font-family: 'Alex Brush';
} 
.searchNav .search 
{
    position: relative;
    /* border-radius: 5px; */
}
.searchNav .search input {
    margin: 0 auto;
    border: auto;

    border-radius: 50px ;
    padding-right: 10px;
}

.searchNav .search button
{
    color: gray;
    border-radius: 50px transparent;
    margin: auto;
    /* background-color: white; */
    padding: 10px auto;
    position: absolute;
    /* top: 0; */
    right: 0;
    text-decoration: none;
    z-index: 111111111;
}
.searchNav .search button:hover {
    /* color: #fff !important; */
   
    text-decoration: none;
    }
    /* slider============================================= */
    .slider img {
        /* height: calc(100vh - 296.39px); */
        height: 25vh;
        position: relative;
    }
    .slider .carousel-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: rgba(225, 62, 215, 0.6);
        padding: 10px 10px;
    }
    .slider .carousel-text span:first-of-type {
        text-transform: uppercase;
        display: block;
        font-family: "Zilla Slab", serif;
        letter-spacing: 10px;
        font-size: 1rem;
        font-weight: 400;
    }
    .slider .carousel-text span:not(:first-of-type) {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 1.6rem;
        font-weight: bolder;
    }
    @media (min-width: 576px) {
        .slider img {
            /* height: calc(100vh - 296.39px); */
            height: 50vh;
        }
    }
    @media (min-width: 768px) {
        .slider .carousel-text {
            padding: 30px 30px;
        }
        .slider .carousel-text span:first-of-type {
            letter-spacing: 10px;
            font-size: 1.6rem;
            font-weight: 400;
        }
        .slider .carousel-text span:not(:first-of-type) {
            font-size: 2.4rem;
        }
    }
    @media (min-width: 992px) {
        .slider img {
            /* height: calc(100vh - 296.39px); */
            height: 90vh;
        }
        .slider .carousel-text {
            padding: 80px 30px;
        }
        .slider .carousel-text span:first-of-type {
            letter-spacing: 10px;
            font-size: 1.6rem;
            font-weight: 400;
        }
        .slider .carousel-text span:not(:first-of-type) {
            font-size: 2.4rem;
        }
    }
    @media (min-width: 1200px) {
        .slider .carousel-text span:first-of-type {
            letter-spacing: 10px;
            font-size: 2rem;
            font-weight: 400;
        }
        .slider .carousel-text span:not(:first-of-type) {
            font-size: 3.6rem;
        }
    }
    /* End Slider */


    /* Start First Section */
.first-section img {
    aspect-ratio: 4 / 3;
}
.first-section .content {
    margin-top: 20px;
}
.first-section .content .content-hot {
    color: #e680e0;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    letter-spacing: 10px;
}
.first-section .content .content-title {
    font-size: 3rem;
}
.first-section .content p {
    margin-top: 20px;
}
/* .featuredItems .itemBar li
{
    list-style: none;
} */
.featuredItems .header h4
{
    padding: 0px 15px ;
    position: relative;

}
.featuredItems .header h4::after
{
    content: " ";
    display: block;
    width: 200px;
    height: 2px;
    opacity: 0.6;
    background: gray;
    border: #e13ed7;
    left: 100% ;
    top: 50%;
    position: absolute;
}
.featuredItems .header h4::before
{
    content: " ";
    display: block;
    width: 200px;
    height: 2px;
    opacity: 0.6;
    background: gray;
    border: #e13ed7;
    right: 100% ;
    top: 50%;
    position: absolute;
}
.featuredItems .itemCards
{
    
}
.featuredItems .itemBar li
{
    list-style: none;
}
.featuredItems .product_card 
{
    margin-bottom: 10px;
    height: 400px;
}
.featuredItems .itemCards .image 
{
    /* background: black; */
    height: 300px;
    align-items: center;
    box-shadow: 1px 1px  5px gray;
}
.featuredItems .itemCards .image .prod_image i
{
    font-size: 50px;
    z-index: 1111111111111;
    position: absolute;
    top: 28%;
    right: 41%;
    display: none;
    color: black;
}
.featuredItems .itemCards .image .prod_image:hover 
{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
    
}
.featuredItems .itemCards .image .prod_image:hover i
{
    transition: 0.5s;
    display: block;
}

.featuredItems .itemCards .image img
{
    position: relative;  
     
    padding: 5px;
    margin: auto;
    align-items: center;
    height: 300px;
    max-height: 300px;

}
.featuredItems .card 
{
    position: relative;
}
.featuredItems .card .price
{
    padding: 5px;
    color: white;
    background-color: black;
    position: absolute;
    top: 0%;
    right: 0%;
}
.featuredItems .card .offer
{
    padding: 15px;
    border-radius: 50%;
    
    color: white;
    background-color: #e13ed7;
    position: absolute;
    top: 20%;
    left: 5%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.featuredItems .card .rate .star
{
    color: #e13ed7;
}
.featuredItems .card .actions i
{
    color: rgb(102, 100, 100);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid  rgb(102, 100, 100) ; 
}
.actions .action-link i
{
    /* margin: 50px; */
    border-radius: 50% ;
}
.featuredItems .card .actions i:hover
{
    color: #e13ed7;
}
.after_discount
{
    color: red;
    text-decoration: line-through;
    font-size:large;
}
.before_discount
{
    font-size: xx-large;
}



/************************************************** banner **************************************/





.offer-section > .banners > div {
    /* width: 100%; */
    position: relative;
    padding: 0;
}
.offer-section .banners div img {
    width: 100%;
    height: auto;
}
.offer-section .overlay {
    background-color: rgb(3, 0, 1);
    opacity: 0.29;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}
.offer-section .text-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
    color: white;
    overflow: hidden;
}
.offer-section .arrow-up {
    width: 0;
    height: 0;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;

    border-bottom: 2vw solid #fff;
    position: absolute;
    bottom: 0;
    right: 20%;
    z-index: 6;
}
.offer-section .arrow-down {
    width: 0;
    height: 0;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;

    border-top: 2vw solid #fff;
    position: absolute;
    top: 0;
    right: 20%;
    z-index: 6;
}
.offer-section .banner-1 .text-box .text span:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    font-family: "Encode Sans", sans-serif;
}

.offer-section .banner-1 .text-box .text span:nth-child(2) {
    font-size: 20px;
    /* text-align: right; */
    transform: rotate(-90deg);
    display: inline-block;
    padding-left: 15px;
}
.offer-section .banner-1 .text-box .text span:nth-child(4) {
    font-size: 20px;
    font-family: "Encode Sans", sans-serif;
}
@media (min-width: 576px) {
    .offer-section .banner-1 .text-box .text span:nth-child(1) {
        font-size: 72px;
    }

    .offer-section .banner-1 .text-box .text span:nth-child(2) {
        font-size: 40px;
        padding-left: 20px;
    }
    .offer-section .banner-1 .text-box .text span:nth-child(4) {
        font-size: 40px;
    }
}
@media (min-width: 768px) {
    .offer-section .banner-1 .text-box .text span:nth-child(1) {
        font-size: 55px;
    }

    .offer-section .banner-1 .text-box .text span:nth-child(2) {
        font-size: 25px;
        padding-left: 20px;
    }
    .offer-section .banner-1 .text-box .text span:nth-child(4) {
        font-size: 25px;
    }
}
@media (min-width: 992px) {
    .offer-section .banner-1 .text-box .text span:nth-child(1) {
        font-size: 60px;
    }

    .offer-section .banner-1 .text-box .text span:nth-child(2) {
        font-size: 30px;
        padding-left: 20px;
    }
    .offer-section .banner-1 .text-box .text span:nth-child(4) {
        font-size: 30px;
    }
}
@media (min-width: 1200px) {
    .offer-section .banner-1 .text-box .text span:nth-child(1) {
        font-size: 72px;
    }

    .offer-section .banner-1 .text-box .text span:nth-child(2) {
        font-size: 40px;
        padding-left: 20px;
    }
    .offer-section .banner-1 .text-box .text span:nth-child(4) {
        font-size: 40px;
    }
}
.offer-section .banner-2 .text-box span:nth-child(1) {
    display: block;
    font-size: 12px;
    font-family: "Encode Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.offer-section .banner-2 .text-box span:nth-child(2) {
    font-size: 30px;
    font-family: "Encode Sans", sans-serif;
    color: #d03bc6;
    font-weight: 600;
}
.offer-section .banner-2 .text-box span:nth-child(3) {
    font-size: 30px;
    font-family: "Encode Sans", sans-serif;

    font-weight: 600;
}
@media (min-width: 576px) {
    .offer-section .banner-2 .text-box span:nth-child(1) {
        font-size: 26px;
        letter-spacing: 5px;
    }
    .offer-section .banner-2 .text-box span:nth-child(2),
    .offer-section .banner-2 .text-box span:nth-child(3) {
        font-size: 55px;
    }
}
@media (min-width: 768px) {
    .offer-section .banner-2 .text-box span:nth-child(1) {
        font-size: 16px;
        letter-spacing: 5px;
    }
    .offer-section .banner-2 .text-box span:nth-child(2),
    .offer-section .banner-2 .text-box span:nth-child(3) {
        font-size: 35px;
    }
}
@media (min-width: 992px) {
    .offer-section .banner-2 .text-box span:nth-child(1) {
        font-size: 20px;
        letter-spacing: 5px;
    }
    .offer-section .banner-2 .text-box span:nth-child(2),
    .offer-section .banner-2 .text-box span:nth-child(3) {
        font-size: 48px;
        margin-right: 0px;
    }
}



.testimonials-section .banner {
    position: relative;
}
.testimonials-section .banner > img {
    height: 80vh;
    object-fit: cover;
}
.testimonials-section .text-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
    color: white;
    overflow: hidden;
}
/* media */
.testimonials-section .fa-quote-left {
    color: var(--purble-color);
    font-size: 30px;
}
.testimonials-section p {
    font-style: italic;
    font-weight: 300;
}
.testimonials-section .ceo {
    font-family: "Encode Sans", sans-serif;
    font-size: 16px;
}
.testimonials-section .job {
    font-family: "Encode Sans", sans-serif;
    font-size: 12.5px;
    color: rgb(220, 219, 219);
}
.ceo_image
{
    width: 10%;
    border-radius: 50%;
}
@media (min-width: 576px) {
    .testimonials-section .fa-quote-left {
        font-size: 40px;
    }
    .testimonials-section p {
        font-size: 20px;
    }
    .testimonials-section .ceo {
        font-size: 20px;
    }
    .testimonials-section .job {
        font-size: 16.5px;
    }
}
@media (min-width: 992px) {
    .testimonials-section .fa-quote-left {
        font-size: 50px;
    }
    .testimonials-section p {
        font-size: 40px;
    }
    .testimonials-section .ceo {
        font-size: 20px;
    }
    .testimonials-section .job {
        font-size: 16.5px;
    }
}
/* Start Footer */
.footer {
    background-color: #1d1d1d;
    color: #9f9d9d;
    overflow: hidden;
}
.footer .footer-title {
    color: white;
}
.footer .list .list-item {
    margin-bottom: 5px;
}
.footer .list .item {
    color: #8c8c8c;
    text-decoration: none;
    text-transform: capitalize;
}
.footer .list .item:hover {
    color: var(--purble-color);
    font-weight: 600;
}
.footer .icons svg {
    font-size: 30px;
    margin-right: 10px;
    color: #9f9d9d;
}


.footer .icons .fa-facebook-square:hover {
    color: #4267b2;
     filter: none;

}
.footer .icons .fa-twitter-square:hover {
    color: #1da1f2;
     filter: none;
}
.footer .icons .fa-youtube:hover {
    color: #ff0000;
     filter: none;
}
.footer .icons .fa-vimeo:hover {
    color: #1ab7ea;
     filter: none;
}
footer .copyright {
    background-color: black;
    color: #9f9d9d;
    overflow: hidden;
}
footer .copyright .money img {
    filter: grayscale(1);
    width: auto;
    height: 50px;
}
footer .copyright .money img:hover {
    filter: none;
}
.fa-facebook-square, .fa-twitter-square , .fa-youtube ,.fa-vimeo
{
    filter: grayscale(1);
}